
.container ul {
    display: flex;
    gap: 20px; 
    list-style: none;
}

.container li {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.container li:hover {
    background-color: #ddd; /* efecto hover */
    border-radius: 5px;
}

.sub-titulo {
    margin-left: 5rem;
}

.scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px;
    overflow: hidden;
}

.section-containers {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.section-containers article {
    flex: 0 0 20%; /* 5 artículos por vista: 100% / 5 = 20% */
    min-width: 200px;
    max-width: 240px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}



.section-containers article img {
width: 100%;
height: auto;
max-height: 150px;
object-fit: cover;
/* Agregamos la transición para una animación suave */
transition: transform 0.3s ease-in-out;
}

